@use './colorsVariaveis';

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;
    border-radius: 4px;
    
    &--primary {
        color: colorsVariaveis.$CorTextoButton;
        background-color: colorsVariaveis.$CorButton;
        white-space: nowrap;
        text-align: center;

        &:hover {
            background-color: colorsVariaveis.$CorFundo1;
            color: colorsVariaveis.$CorAmarela;
            
        }
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    @media (max-width: 1024px) {

    }

}