@use 'components/colorsVariaveis';

.hero {
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .video-background iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        position: relative;
    }

    &__text {
        margin-top: 8px;
        margin-bottom: 8px;
        font-size: 40px;
        line-height: 56px;
        color: colorsVariaveis.$CorAmarela;
        font-weight: 800;
        text-align: center;

    }

    &__logo {
        max-width: 360px;
        margin: 0 auto;
        width: 100%;
        display: block;
        border-radius: 4px;
    }

    @media (max-width: 640px) {
        padding: 40px 0;
        &__logo {
            max-width: 260px;
        }

        &__text {
            font-size: 22px;
            line-height: 24px;
            margin: 24px 0;
        }
    }
}